body {
    background: url("../media/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Below is the CSS for the content div*/

.content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
    margin: auto;
    margin-top: 5px;
    height: auto ;
    width: 60%;
    padding: 10px;
}

/* Unsure why the bottom padding is needed, gotta be a better way to do this */
.content-ex {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
    margin: auto;
    margin-top: 5px;
    height: auto ;
    width: 60%;
    padding: 10px;
    padding-bottom: 50px;
}

.content h1 {
    display: none;
    text-align: center;
    padding-bottom: 0%;
    background-color: lightblue;
}

.content h4 {
    display: none;
    padding-top: 0%;
    text-align: center;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}

.content a {
    text-align: center;
    color: #2f2f2f;
}

.content-ex .examples {
    display: none;
    height: auto;
    float: left;
    margin-left: 45px;
    margin-right: 100px;
    background-color: lightblue;
}

.content .ex-pics {
    display: none;
    float: left;
    background-color: lightblue;
    height: 100px;
}

/* Below is the top navigational menu's CSS */

.topmenu {
    background-color: rgb(26, 26, 56);
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topmenu a {
    background-color: lightblue;
    color: #2f2f2f;
    text-align: center;
    font-size: 17PX;
    padding: 14px 16px;
    float: left;
}

.topmenu a.active {
    color: white;
}

.topmenu a:hover {
    background-color: bisque;
    color: black
}
