body {
    background: url("media/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content {
    /* height: 1000px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
    margin: auto;
    margin-top: 5px;
    width: 60%;
    /* border: 3px; */
    padding: 10px;  
}

.content h1 {
    text-align: center;
    padding-bottom: 0%;
}

.content h4 {
    /* display: none; */
    padding-top: 0%;
    text-align: center;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content a {
    text-align: center;
}

.content p {
    display: none;
}

.topmenu {
    background-color: rgb(26, 26, 56);
    overflow: hidden;
}

.topmenu a {
    background-color: lightskyblue;
    color: #2f2f2f;
    text-align: center;
    font-size: 17PX;
    padding: 14px 16px;
    float: left;
}

.topmenu a.active {
    color: white;
}

.topmenu a:hover {
    background-color: bisque;
    color: black
}

.content .examples {
    /* background-color: #a1b3a7; */
    display: none;
    height: auto;
    float: left;
    margin-left: 45px;
}

.content .ex-pics {
    display: none;
    float: left;
}